{% extends "base.html "%}
{% load crispy_forms_tags %}
{% block content %}


<!-- <form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-primary" type="submit">Continue</button>
</form> --> -->


<main>
    <div class="container wow fadeIn">

        <h2 class="my-5 h2 text-center">Payment</h2>
        <div class="row ">

            <!--Grid column-->
            <div class="col-md-8 mb-4">

                <!--Card-->
                <div class="card">

                    <form method="POST" class="caed-body p-2">
                        {% csrf_token %}
                        <input class="m-2 w-40" type="text" placeholder="cart number\21x">
                        <button class="btn btn-dark float-right m-2" type="submit">submit</button>
                   </form>

>
                </div>
                <!--/>Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>

                <!-- Cart -->
                <ul class="list-group mb-3 z-depth-1">

                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Third item</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">-$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>$20</strong>
                    </li>

                </ul>


            </div>
            <!--Grid column-->
        </div>
    </div>
</main>
<!--Main layout-->



{% endblock %}